<form action="/forgot-password/<%= id %>" method="POST">
    Hello, <%= username %>. Please enter your new password here.
    <input type="password" name="password">
    <button type="submit">Update Password</button>
    <button type="button" onclick="javascript:location.href='/login';">Cancel</button>
</form>