<!DOCTYPE html>
<html lang="en">

    <%- include('layouts/head') %>

    <body>
      <% if (loggedIn == true) { %>
      <% } %>
      <% if (loggedIn == false) { %>
      <% } %>
      <%- body %>
      <% if (loggedIn == true) { %>
        <center><a href="/artifact-list">Add & Modify Artifacts</a>
        <form action="/logout?_method=DELETE" method="POST">
          <button type="submit">Log Out</button>
        </form>
      </center>
      <% } %>
      <% if (loggedIn == false) { %>
        <form action="/login?_method=GET" method="POST">
          <button type="submit">Login</button>
        </form>
      <% } %>
      
      <script src="tugas.js"></script>

    </body>
    
</html>