<!DOCTYPE html>
<html lang="en">

    <%- include('layouts/head') %>

    <body>
      <%- body %>
      <% if (loggedIn == true) { %>
        <center>
        <% if (admin == true) { %>
          <a href="/quiz-list">Add & Modify Quiz</a><br><br>
          <a href="/artifact-list">Add & Modify Artifacts</a><br><br>
          <a href="/user-list">Modify Users</a>
        <% } %>
        <form action="account-settings?_method=GET" method="POST">
          <button type="submit">Account Settings</button>
        </form>
        <form action="/logout?_method=DELETE" method="POST">
          <button type="submit">Log Out</button>
        </form>
      </center>
      <% } %>
      <% if (loggedIn == false) { %>
        <form action="/login?_method=GET" method="POST">
          <button type="submit">Login</button>
        </form>
      <% } %>
      
      <script src="tugas.js"></script>

    </body>
    
</html>