<h1>Update Password</h1>
<form action="/user/<%= id %>/update-password" method="POST">
    Old Password : <input type="password" name="old">
    New Password : <input type="password" name="new">
    <button type="submit">Change password</button>
    <button type="button" onclick="javascript:location.href='/account-settings';">Cancel</button>
</form>
